<div>
  <h2>Student Information</h2>
  <h4>Student name</h4>
  <h3>
    <%= @student_name %>
  </h3>
  <h4>Student ID</h4>
  <h3>
    <%= @student_id %>
  </h3>
  <h4>Student Grade</h4>
  <h3>
    <%= @student_grade %>
  </h3>
</div>
